/* custom_styles.css */

/* Custom colors for sidebar */
.well {
    background-color: #c5ebf8 !important;
    border: 1px solid #000;
}

/* Sidebar toggle */
.main-header .sidebar-toggle {
    font-size: 30px !important;
    padding: 3px 5px !important;
}

.main-header .sidebar-toggle:hover {
    background-color: transparent !important;
}

.main-header .sidebar-toggle:active {
    background-color: transparent !important;
}

/* Custom styles for boxes */
.section-box {
    background-color: #c5ebf8;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.section-box.alternate {
    background-color: #f1d1c1;
    border: 1px solid #000;
}

.section-box.alternate-2 {
    background-color: #d8e6cf;
    border: 1px solid #000;
}

/* Custom styles for buttons */
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
    background-color: #d8e6cf;
    border: 1px solid #000;
    min-width: 80px;
    border-radius: 8px;
    color: #FFFFFF;
    justify-self: center;
    font-size: 18px;
}

.bttn-simple.bttn-primary {
    background-color: #d8e6cf;
    border: 1px solid #000;
    min-width: 80px;
    border-radius: 8px;
    color: black;
    justify-self: center;
    font-size: 18px;
    padding-right: 30px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

@media (max-width: 768px) {
    .button-container {
        display: flex;
        flex-direction: column; 
        gap: 10px; 
    }

    .button-container .bttn,
    .button-container .bttn-simple {
        width: 100%; 
        text-align: center; 
    }
}

/* Small image styling */
.small-icon {
    width: 25px;
    height: auto;
    justify-self: center;
}

/*Key data boxes*/
.keyBoxes .info-box {
    min-height: 0;
    min-width: 80px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #B48EAD;
}

.keyBoxes .shiny-html-output {
    padding-left: 0px;
    padding-right: 30px;
}

.keyBoxes .info-box-icon {
    display: none;
}

.keyBoxes .info-box-content {
    margin-left: 0;
    justify-self: center;
    color: white;

}

.keyBoxes .info-box-text {
    justify-self: center;
    font-size: 24px;
    color: white;
}

.keyBoxes>div {
    border-radius: 2px;
}

/* Responsive images */
.responsive-img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .responsive-img {
        max-width: 100%;
    }
}

/* UBERI Logo */
.uberi-logo {
    justify-self: center;
    height: 50px;
    width: 150px;
}

/* Fix header & sidebar position*/
.main-sidebar {
    position: fixed !important;
}

.main-header {
    position: fixed !important;
    width: 100%;
    z-index: 1030;
    max-height: none;
}

.content-wrapper {
    padding-top: 25px;
}

@media (max-width: 768px) {
    .content-wrapper {
        padding-top: calc(75px + 1em);
    }
}

.nav-tabs a {
    background-color: #f1d1c1 !important;
    color: black;
    border: solid black 1px !important;
}


/* Highlight Sidebar Items */
.highlight-side-tab {
    background-color: #cbd5c5;
}

.highlight-side-tab>a {
    background-color: #B8D0A8 !important;
    color: black !important;
}

.highlight-side-tab>a:hover {
    background-color: #9cb68a !important;
}

.highlight-side-tab.active>a {
    background-color: #9cb68a !important;
}

.highlight-side-tab ul {
    background-color: #cbd5c5 !important;
}

.highlight-side-tab li a {
    background-color: #cbd5c5 !important;
    color: black !important;
}

.highlight-side-tab li a:hover {
    color: white !important;
}

.highlight-side-tab>ul>.active>a {
    color: white !important;
}